[submodule "auth-service"]
	path = auth-service
	url = https://github.com/roshan798/pizza-delivery-app-auth-service
[submodule "catalog service"]
	path = catalog service
	url = https://github.com/roshan798/pizza-delivery-catalog-service

[submodule "admin-dashboard"]
	path = admin-dashboard
	url = https://github.com/roshan798/pizza-app-admin-dashboard
	
[submodule "client-app"]
	path = client-app
	url = https://github.com/roshan798/pizza-delivery-client-UI

